@page
@model IndexModel
@{
    ViewData["Title"] = "Analysis";
}

<h1>Analysis</h1>
<a asp-page="Create">Create New</a>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Duration</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Analysis Values</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Analyses)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Duration</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Description</td>
                <td>@item.AnalysisValues</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

